<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cadastro-servico" method="post" class="cadastro-servico">
        <label for="name">Nome do Serviço</label>
        <input type="text" name="nome">

        <label for="preco">Preço do produto</label>
        <input type="text" name="valor">

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>